<h1>Campgrounds Route</h1>

<% for(var i =0; i < campgroundsContainer.length; i++){ %>
        <div>
            <%= campgroundsContainer[i].name; %> 
            <img src="<%= campgroundsContainer[i].image; %>">
        </div>
    <% } %>