<% include partials/header %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Campgrounds Listings</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
            <p> 
                <a class="btn-primary btn-lg" href="/campgrounds/new">Add new campground</a>
            </p>
        </div>
    </header>
    
    <% for(var i =0; i < campgroundsContainer.length; i++){ %>
            <div>
                <%= campgroundsContainer[i].name; %> 
                <img src="<%= campgroundsContainer[i].image; %>">
            </div>
    <% } %>
<div> 
    
<% include partials/footer %>