<% include partials/header %>
<h1>Campgrounds Route</h1>

<a href="/campgrounds/new">Add new campground</a>

<% for(var i =0; i < campgroundsContainer.length; i++){ %>
        <div>
            <%= campgroundsContainer[i].name; %> 
            <img src="<%= campgroundsContainer[i].image; %>">
        </div>
    <% } %>
    
<% include partials/footer %>