<% include partials/header %>
<header class="jumbotron">
    <h1>Campgrounds Page</h1>
</header>

<a href="/campgrounds/new">Add new campground</a>

<% for(var i =0; i < campgroundsContainer.length; i++){ %>
        <div>
            <%= campgroundsContainer[i].name; %> 
            <img src="<%= campgroundsContainer[i].image; %>">
        </div>
    <% } %>
    
<% include partials/footer %>