<% include partials/header %>

<h1>Create a New Campground</h1>

<form action="/campgrounds" METHOD="POST">
    <input type="text" name="campgroundName" placeholder="name">
    <input type="text" name="campgroundImage" placeholder="img url">
    <button>Submit!</button>
</form>


<% include partials/footer %>